.dae-fb-browser {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  max-height: calc(100vh - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: absolute;
  border: 1px solid rgb(0 0 0 / 75%);
}

.dae-fb-content {
  border: 1px solid rgb(0 0 0 / 10%);
  overflow: auto;
}

.dae-fb-toggle-container {
  display: flex;
  margin-top:.5em;
  gap: .5em;
  max-width: 250px;
  white-space: nowrap;
}

.dae-fb-toggle-button {
  border-radius: 0;
  background: none;
  border: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 14px;
  border: 1px solid rgb(0 0 0 / 10%);
}

.dae-fb-toggle-button:hover {
  font-weight: bold;
  border-color: black;
  box-shadow: none;
}

.dae-fb-toggle-button.active {
  background-color: rgb(193 251 168 / 25%);
  border-color: rgb(34 73 35 / 75%);
}



.dae-fb-browser:not(.dae-fb-full-browser) .dae-fb-tabs {
  display: none;
}

.dae-fb-field-option {
  font-size: 12px;
  padding: 4px 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.dae-fb-field-option.selected {
  background-color: #ffffff;
  border: 1px solid #bd4848;
}

.dae-fb-field-option:hover {
  background-color: #e0e0e0;
}

.dae-fb-tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 -1px .5em;
  scrollbar-width: thin;
  scrollbar-color: rgb(207 207 207) transparent;
}

.dae-fb-tabs::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.dae-fb-tabs::-webkit-scrollbar-track {
  background: transparent;
}

.dae-fb-tabs::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.dae-fb-tabs::-webkit-scrollbar-thumb:hover {
  background-color: rgb(207 207 207);
}

.dae-fb-tab-button {
  flex: 1;
  padding: 0 .5em;
  cursor: pointer;
  border: none;
  background-color: #e0e0e0;
  border-bottom: 2px solid #bbb;
}

.dae-fb-tab-button.active {
  background-color: #fff;
  border-bottom: 2px solid #000;
}


