<span class='fa-stack fa-2xs custom-system-formula-icon' title='{{localize "CSB.ComponentProperties.WithoutDelimiters"}}'>
    <i class='fas fa-circle fa-stack-2x'></i>
    <i class='fas fa-brackets-curly fa-stack-1x fa-inverse'></i>
    <i class='fas fa-slash fa-stack-2x' style='color: Tomato'></i>
</span>