<span class='fa-stack fa-2xs custom-system-formula-icon' title='{{localize "CSB.ComponentProperties.AllowFormula"}}'>
    <i class='fas fa-circle fa-stack-2x'></i>
    <i class='fas fa-dollar-sign fa-stack-1x fa-inverse'></i>
</span>