<div style="text-align: center">
  <strong>{{{saveDisplayFlavor}}}</strong>
</div>
<div style="text-align: center">
  <strong>
    {{{fullDamageText}}} {{{halfDamageText}}} {{{noDamageText}}}
  </strong>
</div>
<ul class="dnd5e2 unlist evaluation wrapper">
  {{#each saves as |save iid|}}
  <li class="midi-qol midi-qol-save-class target midi-qol-target-select {{save.targetClass}} {{save.saveClass}}" data-id="{{save.target.id}}">
    <i class="fas {{save.saveSymbol}}"></i>
    <img src="{{save.img}}" style="background-color: var(--dnd5e-background-10); width: 30px; height: 30px;" />
    <div class="midi-qol-target-name " id="{{save.target.id}}" data-uuid="{{save.target.document.uuid}}">
      <div class="name-stacked midi-qol-tooltip" style="width:170px">
        <span class="midi-qol-gmTokenName midi-qol-target-name title" id="save.target.id">
          {{{save.gmName}}}
        </span>
        <span class="midi-qol-playerTokenName midi-qol-target-name title" style="text-align: right" id="save.target.id">
          {{save.playerName}}
        </span>
        <div class="midi-qol-tooltiptext midi-qol-save-tooltip {{save.saveToolTipClass}}" style="text-align: left;">
          {{{save.rollHTML}}}
        </div>
      </div>
    </div>
    <div class="{{saveTotalClass}}" style="font-weight: bold;">{{save.rollTotal}}</div>
  </li>
  {{/each}}
</ul>